#pragma once

#include <array>

#include <SFML/Graphics.hpp>

struct TiledTiles
{
	static const sf::IntRect tileToTextureRect[];

	enum Value : unsigned short
	{
		NONE = 0,
		{% for t in bg -%}
			BG_{{ loop.index }},
		{% endfor -%}
		{% for t in oneway -%}
			ONE_WAY_{{ loop.index }},
		{% endfor -%}
		{% for t in rslope -%}
			RIGHT_SLOPE_{{ loop.index }},
		{% endfor -%}
		{% for t in lslope -%}
			LEFT_SLOPE_{{ loop.index }},
		{% endfor -%}
		{% for t in solid -%}
			SOLID_{{ loop.index }},
		{% endfor -%}
		{% for t in breakable -%}
			BREAKABLE_{{ loop.index }},
		{% endfor -%}
		SOLID_TRANSPARENT,
	};

	static const Value ONE_WAY_BEGIN = ONE_WAY_1;
	static const Value RIGHT_SLOPE_BEGIN = RIGHT_SLOPE_1;
	static const Value LEFT_SLOPE_BEGIN = LEFT_SLOPE_1;
	static const Value SOLID_BEGIN = SOLID_1;
	static const Value BREAKABLE_BEGING = BREAKABLE_1;

};

struct TiledMap
{
	static const unsigned short map[];
	static const sf::Vector2f map_size;
	static const std::array<sf::Rect<float>, {{screens|length}}> screens;
};

struct TiledEntities
{
	{% for k, v in entities_by_type.items() -%}
		{%- if v|length > 1 -%}
			static const std::array<sf::Vector2f, {{v|length}}> {{k}};
		{%- else -%}
			static const sf::Vector2f {{k}};
		{%- endif %}
	{% endfor %}
};
