#include "tiledexport.h"

const GPU_Rect TiledTiles::tileToTextureRect[] = {
	{},	//NONE
	{% for t in gids -%}
		{ {{t%tileset_cols}} * {{tilesize}}, {{t//tileset_cols}} * {{tilesize}}, {{tilesize}}, {{tilesize}} }, //={{gid_to_tileid[t]}}, {{ tilenames[t] }}, gid={{t}}
	{% endfor -%}
	{},	//SOLID_TRANSPARENT
};

const vec TiledMap::map_size = vec({{ width }}, {{ height }});

const uint8_t TiledMap::map[] = {
    {% for t in map -%}
		{%- if debug -%}
			{%- if t == 0 -%}{{ ' ' }}{%- else -%}{{ 'x' }}{% endif %} 
		{%- else -%}
			{{ t }},
		{%- endif -%}
	{%- if loop.index%width == 0 %}
	{% endif -%} 
    {%- endfor %}
};

const std::array<Bounds, {{screens|length}}> TiledMap::screens = {
	{%- for s in screens %}
	Bounds({{s[0]}}f,{{s[1]}}f,{{s[2]}}f,{{s[3]}}f),
	{%- endfor %}
};

{% for k, v in entities_by_type.items() -%}
	{%- if v|length > 1 -%}
const std::array<vec, {{v|length}}> TiledEntities::{{k}} = {
{%- for e in v %}
	vec({{e[0]}}f, {{e[1]}}f),
{%- endfor %}
};
{% else -%}
	const vec TiledEntities::{{k}} = vec({{v[0][0]}}f, {{v[0][1]}}f);
{% endif %}
{% endfor %}

{% for k, v in areas_by_type.items() -%}
	const std::array<Bounds, {{v|length}}> TiledAreas::{{k}} = {
		{%- for s in v %}
		Bounds({{s[0]}}f,{{s[1]}}f,{{s[2]}}f,{{s[3]}}f),
		{%- endfor %}
	};
{% endfor %}

