name: Build and deploy
on: [push]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    name: Publish emscripten build
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Find and define GITHUB_REF_SLUG
        uses: rlespinasse/github-slug-action@v4.4.1

      - name: Cache
        uses: actions/cache@v4.0.0
        with:
          # use branch name for cache invalidation (Linux-build-name-of-branch)
          key: ${{ runner.os }}-build-${{ env.GITHUB_REF_SLUG }}
          path: |
            ~/.cache/emsdk

      - name: Build
        run: |
          docker run --rm \
                     -v /home/runner/work/nbgf/nbgf:/github/workspace \
                     --workdir /github/workspace \
                     -v ~/.cache/emsdk:/emsdk/upstream/emscripten/cache/ \
                     emscripten/emsdk emmake make -j2 OPTIM=2 DEBUG=0

      - name: FrontPage 2000
        run: |
          mkdir -p www
          cp bin/{gaem.data,gaem.wasm,gaem.js,index.html} www
          echo "https://albertvaka.github.io/nbgf/${{ env.GITHUB_REF_SLUG }}" >> www/README.md

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.5.0
        with:
          repository-name: albertvaka/albertvaka.github.io
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          branch: main
          folder: www
          target-folder: nbgf/${{ env.GITHUB_REF_SLUG }}
